/*reset css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

#main {
    margin-top: 30px;
    padding: 0px;
}

#about {
    background-color: #ffd378;
    color: #424c6d;
    height: auto;
    margin: auto;
}

#about .title {
    font-weight: thin;
    font-size: 72px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.subtitle {
    font-weight: thin;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

#projects {
    background-color: #424c6d;
    color: #ffd378;
    min-height: 100vh;
}

#projects h1 {
    font-size: 36px;
    font-weight: thin;
    text-align: center;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 50px;
}

#contact {
    min-height: 100vh;
    background-color: #c9be78;
    color: #424c6d;
}

#contact h1 {
    font-size: 52px;
    font-weight: thin;
    text-align: center;
    margin: auto;
    padding-top: 80px;
}

#contact p {
    font-weight: thin;
    font-size: 26px;
    text-align: center;
}


/* -- navbar -- */

#nav-bar {
    overflow: hidden;
    background: #ce7b5b;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0;
}

.nav-link {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ce7b5b;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#project-tile {
    background-color: #424c6d;
    list-style: none;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    height: auto;
    width: 380px;
    min-width: 300px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: #424c6d;
    padding: 30px;
}

.project-image {
    background: #dfe2ec;
    width: 75%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


/* -- media query -- */

@media (max-width: 480px) {
    #welcome-section h1 {
        font-size: 52px;
        text-align: center;
        margin: auto;
        padding-top: 80px;
    }
    .flex-links {
        display: flex;
        justify-content: center;
        align-content: center;
        background: #c9be78;
    }
}

.button {
    display: block;
    width: 75%;
    font-size: 22px;
    background: #ffdb4d;
    padding: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.button a {
    color: #424c6d;
    text-decoration: none;
}

.button:hover {
    background: #111;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.button a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.flex-links {
    list-style: none;
    margin: auto;
    margin-top: 25px;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background: #c9be78;
}

.link-item {
    width: auto;
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: #424c6d;
}

.flex-links ul {
    display: flexbox;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c9be78;
}

.flex-links li .button {
    font-size: large;
    width: auto;
    background: #c9be78;
    border: none;
    display: block;
    color: #111;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.flex-links .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.flex-links .button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.flex-links .button:hover span {
    padding-right: 25px;
}

.flex-links .button:hover span:after {
    opacity: 1;
    right: 0;
}

.menu-footer-contact {
    background: #c9be78;
    background: transparent;
    color: #424c6d;
    overflow: hidden;
    margin-bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 0;
}

.menu-footer-contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #c9be78;
}

.menu-footer-contact li {
    float: right;
}

.menu-footer-contact li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.menu-footer-contact li a:hover {
    background-color: transparent;
}

.menu-footer-projects {
    background: #424c6d;
    color: #c9be78;
    overflow: hidden;
    margin-bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 0;
}

.menu-footer-projects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #424c6d;
}

.menu-footer-projects li {
    float: right;
}

.menu-footer-projects li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.menu-footer-projects li a:hover {
    background-color: transparent;
}

.menu-footer-about {
    background: #ffd378;
    color: #424c6d;
    overflow: hidden;
    margin-bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 0;
}

.menu-footer-about ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffd378;
}

.menu-footer-about li {
    float: right;
}

.menu-footer-about li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 24px;
    text-decoration: none;
}

.menu-footer-about li a:hover {
    background-color: transparent;
}


/* -- time-line-- */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    text-align: center;
    position: absolute;
    padding: 5px;
    width: 50px;
    height: 50px;
    right: -36px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -38px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    margin-bottom: 20px;
}

.timeline-title {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.timeline-subtitle {
    font-weight: thin;
    font-size: 21px;
    text-align: center;
}

.timeline-content {
    font-size: 16px;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after,
    .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
}

.button-top {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}